:root {
  --color-light-1: #ffffff;
  --color-light-2: #f8f9fa;
  --color-light-3: #eeeeee;
}

#mas-pr a,
#mas-pr div {
  box-sizing: border-box;
}
a.mas-shortcut {
  position: absolute;
  font-size: 12px;
  text-decoration: none;
  left: 1rem;
  top: 8px;
  z-index: 2;
  line-height: 1;
  margin: 0;
  padding: 4px 6px;
  background: darkred;
  color: white;
  border-radius: 5px;
}
#mas-pr {
  position: fixed;
  z-index: 9999;
  width: 250px;
  height: 250px;
  bottom: 1rem;
  left: 4px;
  background-color: black;
  color: white;
  box-sizing: border-box;
  border-radius: 10px 10px;
  opacity: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 0.8s linear opacity;
}
#mas-pr.mas-sleep {
  z-index: -1;
  opacity: 0;
  transition: 0.8s linear opacity;
}
#mas-close {
  width: 30px;
  height: 30px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  cursor: pointer;
  top: -15px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 2;
  font-size: 12px;
}
#mas-close a {
  color: white;
  text-decoration: none;
}
.slick-list,
.slick-track,
.slick-slide,
.slick-slide div {
  height: 100%;
}
#mas-wr {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  overflow: hidden;
}

.mas-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
}

h3.mas-head {
  font-size: 18px;
  line-height: 1.3;
  margin: 4px 0;
}

.mas-item.mas-text {
  padding: 16px;
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.mas-item.mas-text a.mas-btn-cta {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  padding: 3px 2rem;
  border-radius: 5px;
}
.mas-item.mas-text a.mas-btn-cta:hover {
  color: yellow;
}

.mas-item.mas-image {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
}
.mas-item.mas-image a.mas-img-link-wr {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mas-item.mas-image a.mas-img-link-wr img.mas-find-this {
  width: calc(100% - 16px);
  height: auto;
  border-radius: 10px;
}
.mas-item.mas-image a.mas-btn-cta {
  position: absolute;
  bottom: 1.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: wheat;
  line-height: 1.1;
  margin: 0;
  padding: 6px 2rem;
  border-radius: 5px;
  text-decoration: none !important;
}

/**
=========================
* 769px
* @todo 769px
*=========================
*/
@media screen and (max-width: 769px) {
  #mas-pr[data-mas-disable-on="769"] {
    display: none;
  }
}

/**
=========================
* 480px
* @todo 480px
*=========================
*/
@media screen and (max-width: 493px) {
  #mas-pr[data-mas-disable-on="480"] {
    display: none;
  }
}
